{#let name=http:param('name', 'Qute')}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--
    <meta http-equiv="refresh" content="1; url=process" />
    -->
    <title>Landing page</title>
    <style>
        body {
            background-color: #000;
            color: #fff;
        }
        h1 {
            color: #4695EB;
            font-size: 6vw;
        }

        h1 b {
            color: #be9100;
        }

        p {
            font-size: 2vw;
        }
        

    </style>
</head>

<body>
    <a href="/process"><button>Process / Package / Folder</button></a>
    <a href="/restclient"><button >Rest Client</button></a>

</body>
</html>
